/*
 * Tweet button and Tweet form styling
 */

button {
  font-family: "Bungee", sans-serif;
  background: #4056A1;
  color: #FFFFFF;
}

.new-tweet {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
}

#tweet-text {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 3px solid black;
  background-color: transparent;
  outline: none;
}

/*
 * Message counter styling
 */

.counter {
  float: right;
  font-family: "Bungee", sans-serif;
}

/*
 * Error message styling
 */

.counter.overlimit {
  color: red;
}

.error {
  display: none;
  width: 80%;
  border: 3px solid red;
  color: red;
  position: relative;
  margin: 20px auto;
}

.error-message {
  text-align: center;
  color: red;
}