button {
  font-family: "Bungee", sans-serif;
  background: #4056A1;
  color: #FFFFFF;
}

.create-tweet {
  display: flex;
}

.new-tweet {
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
}

#tweet-text {
  border-bottom: 3px solid black;
  width: 100%;
  resize: none;
  outline: none;
  border-left: none;
  border-top: none;
  border-right: none;
  background: #f4f1ec;
}

.counter {
 float: right;
 font-family: "Bungee", sans-serif;
}


