/*
 * Posted Tweets Styling
 */

article {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 3px solid #545149;
  margin-top: 1.5em;
  margin-bottom: 1em;
  justify-content: center;
}

article:hover {
  box-shadow: 7px 7px 1px #b0c0f6;
}

article.tweet header {
  font-family: source sans pro, sans-serif;
  background-color: #f4f1ec;
  height: 100px;
  margin-top: 0px;
}

.tweet {
  margin: 2em 0;
  padding: 0.5em;
  display: flex;
  width: 100%;
  background-color: #f4f1ec;
  border: 4px solid black;
  flex-direction: column;
}

.tweet header {
  display: block;
  background-image: none;
  width: 100%
}

/*
 * Name, and handle styling
 */

.handle {
  color: #b7b7bb;
  float: right;
}

.user-tweet {
  display: inline-block;
  ;
}

.tweets-display {
  width: 100%;
}

.tweet p {
  border-bottom: 3px black;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
}


/*
 *  footer icons and "days since posting" styling
 */

.footer-date {
  font-size: 20px;
  font-family: source sans pro, sans-serif;
  float: left;
  margin-top: -1em;
  margin-left: 1em;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 0;
  align-items: center;
  float: right;
}

.footer-icons .fa-solid:hover {
  color: gold;
}

.footer-icons .fa-solid {
  margin: 0 5px;
  color: #4056A1;
}